body {
    margin: 0;
    /* padding: 0; */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: 0.3fr 1fr 1fr 0.8fr;
    grid-gap: 5px;
    font-size: 2em;
    text-align: center;
}
    /* text-transform: uppercase;
    0.2fr 0.5fr 1.2fr 0.8fr*/
    /* text-align: center;
    font-size: 2em;  */
    /* grid-template-areas: "site-header site-header site-main site-header"
     "site-main site-header site-main site-main"
     "widget-area site-header widget-area site-main"
     "site-footer site-header site-footer site-footer"; */
    /* repeat(4, fr); repeat(4, 300px)*/


.header {
    background: green;
    grid-area: main;
    /* border-radius: var(--main-radius);
 padding-top: var(--main-padding); */
}

.main {
    background: orange;
    grid-area: main;

}

.widget{
    background: yellow;
grid-area: widget;

}

.footer {
    background: blue;
grid-area: footer;

}


 @media  only screen and (max-width:540px) {

.container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.5fr 0.7fr 0.3fr ;

}
}
@media and (min-width:540px) {

.container {
 grid-template-areas:
  "header main"
  "header widget"
  "header footer";
  grid-template-columns: 33% auto;
  grid-auto-rows: 350px 100px 50px;


}
}
