body {
    margin: 0;
    /* padding: 0; */
}

.container {
    display: grid;
    /* height: 100vh; */
    grid-auto-columns: auto;
     grid-template-rows: 50px 300px 100px 50px;
    /* grid-template-columns: repeat(1, fr); */
    /* grid-template-rows: 0.3fr 1fr 1fr 0.8fr; */

    grid-gap: 5px;
    font-size: 2em;
    text-align:center;
    grid-template-areas:
     "header"
     "main"
     "widget"
     "footer";
}
    /* text-transform: uppercase;
    0.2fr 0.5fr 1.2fr 0.8fr*/
    /* text-align: center;
    font-size: 2em;  */
    /* grid-template-areas: "site-header site-header site-main site-header"
     "site-main site-header site-main site-main"
     "widget-area site-header widget-area site-main"
     "site-footer site-header site-footer site-footer"; */
    /* repeat(4, fr); repeat(4, 300px)*/


.header {
    background: green;
    grid-area: header;

}

.main {
    background: orange;
    grid-area: main;

}

.widget{
    background: yellow;
    grid-area: widget;

}

.footer {
    background: blue;
    grid-area: footer;

}
@media screen and (min-width:500px) {
  .container {
          grid-template-areas:
           'header main'
           'header widgets'
           'header footer';
    grid-template-columns: 33% auto;
    grid-template-rows: 350px 100px 50px;
    }
}

@media only screen and (min-width:900px) {
  .container {
         grid-template-areas:
         'header main widgets'
         'header main widgets'
         'header footer widgets';
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 450px 50px;
        }
}
